.Main__form_light {
    display: flex;
    justify-content: center;
    margin: 15px auto 0 auto;
    width: 600px;
    height: 150px;
    background-color: rgb(44, 44, 44);
    border: 1px solid #FCE308;
    border-radius: 10px;
}