.Card__button {
    border: none;
    width: 54px;
    height: 54px;
    padding: 0;
    align-self: center;
    outline: none;
    cursor: pointer;
}

.Card__button:hover {
    transition: 0.55s all ease-in-out;
    transform: scale(1.1);
}