.Main__button{
    background: url("../../../images/Add-button.svg");
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    width: 64px;
    padding: 0;
    outline: none;
    cursor: pointer;
}