.Card__button_link {
    background: url("../../../../images/File-search_yellow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}

.Card__button_link-hide {
    display: none;
}