.App {
    background-color: rgb(44, 44, 44);
    color: #fff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vw;
    height: 100%;
    margin: 0;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
    list-style: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    /*background: radial-gradient(at 86% 20%,#555, #111);
    background-attachment: fixed;*/
    margin: 0;
}