.Card__button_delete {
    background: url("../../../../images/Trash_white.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}

.Card__button_delete:hover {
    background: url("../../../../images/Trash_red.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}