.Lamp__bulb {
    position: fixed;
    top:100px;
    right: 150px;
    width: 80px;
    height: 80px;
    background: #FCE308;
    border-radius: 50%;
    z-index: 2;
}

.Lamp__bulb::before {
    content: '';
    position: fixed;
    top:46px;
    right: 170px;
    width: 40px;
    height: 80px;
    background: #FCE308;
    border-top: 30px solid #000;
    border-radius: 10px;
}

.App.on .Lamp__bulb::after {
    content: '';
    position: fixed;
    top:100px;
    right: 150px;
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    filter: blur(40px);
    box-shadow: 0 0 50px #fff,
    0 0 100px #fff,
    0 0 150px #fff,
    0 0 200px #fff,
    0 0 250px #fff,
    0 0 300px #fff,
    0 0 350px #fff,
    0 0 400px #fff,
    0 0 450px #fff,
    0 0 500px #fff,
    0 0 550px #fff,
    0 0 600px #fff,
    0 0 650px #fff;
}

.Lamp__bulb span:nth-child(1) {
    position: fixed;
    top:84px;
    right: 204.8px;
    display: block;
    width: 30px;
    height: 30px;
    background: transparent;
    transform: rotate(335deg);
    border-bottom-right-radius: 40px;
    box-shadow: 20px 20px 0 10px #FCE308;
}

.Lamp__bulb span:nth-child(2) {
    position: fixed;
    top:84px;
    right: 145.2px;
    display: block;
    width: 30px;
    height: 30px;
    background: transparent;
    transform: rotate(115deg);
    border-bottom-right-radius: 40px;
    box-shadow: 20px 20px 0 10px #FCE308;
}